* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/*-------------------------------- navbar container--------------------------------- */
.navbar-container {
  z-index: 1;
  width: 100%;
  height: 14vh;
  background-color: white;
  padding: 0 6rem 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-left {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: end;
  flex-direction: row;
  padding: 2px;
}

.navbar-left div img {
  width: 8rem;
  /* border: 1px solid red; */
}

.navbar-list-items ul {
  width: 22rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-list-items ul li {
  font-size: 1rem;
  font-weight: 400;
  list-style-type: none;
}

.navbar-right {
  display: flex;
  /* border: 1px solid green; */
  /* width: 10rem; */
}

.right-images {
  display: flex;
  align-items: center;
}

#support-logo {
  width: 1.2rem;
  margin: 0 5px 0 5px;
}

#user-logo {
  width: 3rem;
  margin: 0 5px 0 5px;
}

/* --------------------------container------------------------------ */
.container {
  width: 100%;
  /* background-color: rgb(209, 24, 24); */
  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.child-container {
  /* border: 1px solid red; */
  background-color: white;
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container-left-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 98%;
  width: 50%;
  /* border: 1px solid rgb(0, 26, 255); */
  padding: 1rem;
}

.container-left-items div h1 {
  font-size: 2rem;
  font-family: monospace;
}

.container-left-items div b {
  font-size: 3rem;
}

.container-left-items div p {
  font-size: 1.1rem;
  padding: 20px 0px;
  letter-spacing: 1px;
  line-height: 1.7;
}
.left-img {
  display: flex;
  justify-content: start;
  width: auto;
  gap: 1em;
  flex-wrap: wrap;
  margin: 2rem 0px;
}
.left-img img {
  width: 11rem;
  border-radius: 10px;
}

.btn-container {
  width: auto;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  min-width: 90px;
  border: 1px solid #0056d2;
  border-radius: 5px;
  font-weight: bold;
}

.container-right-items {
  display: flex;
  justify-content: end;
  height: 98%;
  width: 50%;
  /* border: 1px solid red; */
  padding-right: 1rem;
}

.container-right-items img {
  /* border: 1px solid green; */
  width: 80%;
}

/* --------------------courses container------------------- */

.courses-container {
  width: 100%;
  background-color: #f5f5f5;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.courses-child-container {
  /* border: 1px solid red; */
  /* background-color: wheat; */
  height: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.courses-child-container div h1 {
  font-family: sans-serif;
  font-size: 42px;
  padding: 1rem;
}

.cards-container {
  height: 72vh;
  width: auto;
  /* border: 1px solid green; */
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 2rem 1rem;
  gap: 1rem;
  gap: 0.5rem;
}

.card {
  width: 24%;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1);
}
.top-card-items {
  height: 50%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.top-card-items span {
  width: 30px;
  height: 30px;
  /* border: 1px solid gray; */
  background-color: #fff;
  margin: 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-card-items span img {
  padding: 5px;
  width: 24px;
}
.card-btn {
  padding: 6px;
  color: #4caf50;
  background-color: #e9ffea;
  border: transparent;
  margin: 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 10px;
}

/* .bottom-card-items {
  border: 1px solid black;
} */

.bottom-card-items {
  margin: 0.5rem;
}

.card-time {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #929292;
  font-family: sans-serif;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}

.card-time-left {
  display: flex;
  font-size: 500;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
}

.card-time-right span b {
  font: bold;
  color: black;
  font-size: 14px;
}
.card-time-right {
  font-size: 14px;
}

.card-middium-items {
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
}

.card-middium-items h3 {
  line-height: 1.67;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-middium-items div span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #7f7f7f;
  font-size: 12px;
  font-family: sans-serif;
  list-style-type: disc;
  /* color: red; */
}

.card-middium-items div span a {
  text-decoration: none;
  font-family: sans-serif;
  line-height: 1.67;
  color: #0056d2;
}

.card-bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.5rem;
  /* flex-direction: column; */
  flex-flow: row wrap;
}
.card-bottom-items p {
  font-family: sans-serif;
  font-size: medium;
}

.join-btn {
  padding: 0.6rem 1rem;
  font-size: 12px;
  /* min-width: 90px; */
  border: 1px solid #0056d2;
  background-color: #0056d2;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.explore-btn {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

/* --------------------d-learn-seciton------------------- */

.d-learn {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 0rem 0rem;
  height: 104vh;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 1rem;
  background-color: #010c50;
}

.learn-left {
  /* border: 11px solid red; */
  width: 50%;
  height: 94vh;
  display: flex;
  justify-content: start;
}

.learn-right {
  /* border: 1px solid green; */
  width: 50%;
  height: 94vh;
  display: flex;
  justify-self: start;
  flex-direction: column;
  color: #fff;
  justify-items: center;
  padding: 3rem 0px;
  row-gap: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.learn-right h2 {
  font-size: 24px;
}

.para-p {
  line-height: 1.2;
}
.heading {
  margin-bottom: 5px;
}

.learn-rigth p {
  font-size: 16px;
}

.heading-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4px;
}
/* ---------educator section---------- */

.educator-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 120vh;
}

.left {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 10rem 4rem 0rem 4rem;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

.left ul {
  margin: 0rem 2rem;
  line-height: 1.2;
  font-style: normal;
}

.left ul li {
  list-style-type: disc;
  line-height: 1.5;
  font-size: 24px;
  list-style-type: disc;
}
.right {
  position: relative;
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: end;
}

#start-now-btn {
  margin-top: 5rem;
  margin-left: 1rem;
  font-size: 14px;
  padding: 12px 24px;
}

#buttom-slide-img {
  position: absolute;
  bottom: 0;
  width: 80%;
}

/* -------------------footer------------------------ */

.footer {
  width: 100%;
  height: 50vh;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 7rem;
}
.footer-left {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding-top: 3rem;
  align-items: start;
}

.footer-left div img {
  width: 140px;
}

.footer-list-items {
  /* border: 1px solid #4caf50; */
  line-height: 1.8;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.footer-right {
  /* border: 1px solid green; */
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-right p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #7f7f7f;
}
.footer-right img {
  margin-bottom: 20px;
  width: 190px;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    z-index: 1;
    width: 100%;
    height: 10vh;
    background-color: white;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .navbar-list-items ul {
    display: none;
  }

  .courses-container {
    margin-top: 1rem;
    border: 1px solid green;
  }
  .left-img {
    display: flex;
  }
  .left-img img {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
  }
  .container {
    height: 120vh;
  }

  .courses-child-container {
    /* border: 1px solid red; */
    /* background-color: wheat; */
    height: 400%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cards-container {
    border: 2px solid red;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    flex-direction: column;
    overflow: auto;
  }

  .card {
    width: 60%;
    height: 80%;
    cursor: pointer;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
  }
  .d-learn {
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem 0rem 0rem;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 1rem;
    background-color: #010c50;
  }

  .learn-left {
    /* border: 3px d red; */
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: start;
  }
  .learn-left img {
    width: 56vh;
  }
  .learn-right {
    /* border: 1px solid green; */
    width: 100%;
    height: 94vh;
    display: flex;
    justify-self: start;
    flex-direction: column;
    color: #fff;
    background-color: #010c50;
    justify-items: center;
    padding: 3rem 1rem;
    row-gap: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .educator-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 170%;
  }

  .left {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 1rem;
  }
  #start-now-btn {
    margin: 01rem 0rem;
  }
  .right {
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: end; */
  }

  /* footer starts-------------------- */

  .footer {
    width: 100%;
    height: 60%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 1rem;
  }
  .footer-left {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
  }

  .footer-left div img {
    width: 140px;
  }
  .footer-right {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .footer-right img {
    width: 10rem;
  }
  /* .footer-right p {
    border: 1px solid red;
    display: block;
    width: 100%;
  } */
}
